.categories {
    display: flex;
    height: 80vh;
    gap: 10px;
    margin: 10px;

    .col {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 10px;
    }

    .col-l {
        flex: 2;
    }

    .row {
        display: flex;
        flex: 1;
        gap: 10px;
        position: relative;
        overflow: hidden;      // to avoid overflowing images

        button {
            position: absolute;
            min-width: 100px;    // for equal sizes of buttons
            width: fit-content;  
            height: 50px;
            padding: 10px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            cursor: pointer;
            font-weight: 500;
            border: none;
            background-color: white;
            text-transform: uppercase;

        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}